html{
    background: url(static/background.jpeg);
}
body{
    
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
  
}


#app{
      color: #f0d43a; 
    font-size: 20px;
    font-family: 'Oswald', sans-serif; 
     height:100vh;
}

.holder{
   
   

}

.entry{
    background: rgba(59, 74, 107, .4);
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    text-align: center;
    background: skyblue;
    min-height: fit-content;
    font-size: xx-large;

}
.title{

}
.zip{
    
    padding-left: 40%;
    overflow: hidden;
}
.feel{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-left: 40%;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: rgba(59, 74, 107, .4);
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 